body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #a5d0fc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #343a40;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ad7470;
    color: #f8f9fa;
}

section {
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #1e242b;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    color: #4a6e92;
    margin-bottom: 20px;
    text-align: justify;
}

section:last-child {
    margin-bottom: 0;
}